<!-- <section class="hero"id="home"data-aos="fade-up">
  <div class="content" data-aos="fade-up">
    <h1 data-aos="fade-right">Hi, I'm <span class="name">Pragya Makadariya </span></h1>
    <h2 data-aos="fade-right" data-aos-delay="200">Full-Stack Developer</h2>
    <p data-aos="fade-right" data-aos-delay="400">I create beautiful, functional web applications using Java, Angular, React, Next.js, Node.js, SQL, PHP, MongoDB and Firebase.</p>
    <a data-aos="zoom-in" data-aos-delay="600" href="assets/pragyanewresume.pdf"download target="_blank" rel="noopener noreferrer" class="btn" download>Download CV</a>
    </div>
      
</section>
 -->



 <section class="hero" id="home" data-aos="fade-up">
  <div class="content" data-aos="fade-up">
    <h1 data-aos="fade-right">
      Hi, I'm <span class="name">Pragya Makadariya</span>
    </h1>

    <h2 data-aos="fade-right" data-aos-delay="200">
      Full-Stack Developer
    </h2>

    <p data-aos="fade-right" data-aos-delay="400">
      I build modern, scalable, and user-friendly web applications using
      Java, Angular, React, Next.js, Node.js, MySQL, PHP, MongoDB, and Firebase.
    </p>

    <p data-aos="fade-right" data-aos-delay="500">
     Full-Stack Developer Intern at
  <strong>Gravit InfoSystems Pvt Ltd</strong>, <strong>Powernest Global</strong>, 
</p>

<p data-aos="fade-right" data-aos-delay="600">
  Experienced in authentication, Sequelize ORM, JWT-based security,
  and payment gateway integration.
</p>


    <a
      data-aos="zoom-in"
      data-aos-delay="600"
      href="assets/updatedresume.pdf"
      download
      target="_blank"
      rel="noopener noreferrer"
      class="btn"
    >
      Download CV
    </a>
  </div>
</section>
