<nav class="navbar">
  <div class="logo">MyPortfolio</div>
    <div class="menu-icon" (click)="toggleMenu()">
    ☰
   
  </div>
  <ul class="nav-links" [class.active]="menuOpen">
  <li><a href="#" [class.active]="activeSection === 'home'" (click)="scrollTo('home', $event)">Home</a></li>
  <li><a href="#" [class.active]="activeSection === 'about'" (click)="scrollTo('about', $event)">About</a></li>
  <li><a href="#" [class.active]="activeSection === 'skills'" (click)="scrollTo('skills', $event)">Skills</a></li>
  <li><a href="#" [class.active]="activeSection === 'projects'" (click)="scrollTo('projects', $event)">Projects</a></li>
  <li><a href="#" [class.active]="activeSection === 'contact'" (click)="scrollTo('contact', $event)">Contact</a></li>
</ul>
  <!-- <ul class="nav-links">
     
    <li><a href="#" (click)="scrollTo('home', $event)">Home</a></li>
    <li><a href="#" (click)="scrollTo('about', $event)">About</a></li>
    <li><a href="#" (click)="scrollTo('skills', $event)">Skills</a></li>
    <li><a href="#" (click)="scrollTo('projects', $event)">Projects</a></li>
    <li><a href="#" (click)="scrollTo('contact', $event)">Contact</a></li>
  </ul> -->
  
</nav>
