<section class="projects" id="projects">
  <h2 data-aos="fade-up">My Projects</h2>
  <div class="project-grid">
    <div class="project-card" *ngFor="let project of projects" data-aos="fade-up" data-aos-delay="200">
      <!-- <img [src]="project.image" [alt]="project.title" /> -->
      <h3>{{ project.title }}</h3>
      <br/>
      <p>{{ project.description }}</p>
      <p class="tech">{{ project.tech.join(' , ') }}</p>
     
     <br/>
 <a *ngIf="project.github" [href]="project.github" target="_blank" class="code-btn">GitHub</a>
    </div>
  </div>
</section>

